body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #000000;
    background-image: linear-gradient(to bottom, #000000, #333333);
}
.line{

    position: relative;
    top:50%;
    width: 9.1em;
    margin: 0 auto;
    border-right: 2px solid #ff6f61;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
.HomeButton{
    background-color: #000000;
    background-image: linear-gradient(to bottom, #000000, #333333);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #FFFFFF;
  font-size: larger;
}
.HomeButton:hover{
    background-color: #000000;
    background-image: linear-gradient(to bottom, #000000, #4b4848);
    
}
/* animattion */
.typewriter{
    animation: typeMsg 4s steps(40) 1s 1 normal both,
    cursorAnim 500ms steps(40) infinite normal;
}
@keyframes typeMsg{
    from{
        width: 0em;
    }
    to{
        width: 9.1em;
    }
}
@keyframes cursorAnim{
    from{
        border-right-color: #ff6f61;
    }
    to{
        border-right-color: transparent;
    }
}
.overlay{
    background-color: #FF4136;
    box-shadow: 0px 0px 10px #FF4136;
    text-align: center;
    height: 80vh;
    width: 100vw;
}