body {
    background-color: black;
  }
  
  .navbar {
    padding: 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 20px;
    padding: 0 20px;
  }
  
  .navbar-nav {
    width: 100%;
    justify-content: space-evenly;
  }
  .underline {
    border-bottom: 1px solid white;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  